<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List your food items</title>
    <link rel="stylesheet" href="stylesheets/food_listing.css">
</head>
<body>
    <script src="javascripts/food_listing.js"></script>

    <header>
        <div class="container">
            <nav>
                <h2>Post your extra food items</h2>
            </nav>
        </div>
    </header>

    <br>
    
    <form action="" id="listings-form">
        <div id="Listings">
            <div id="Listing 1">
                <h3>Food Item 1</h3>
                <input type="text" name="food item 1" placeholder="Enter food item (eg. Apples)" required>
                <input type="number" name="quantity 1" placeholder="Enter amount" required>
                <input type="number" name="price 1" placeholder="Price $$ for each" required>
                <button type="button" onclick="Delete(1)">Delete</button>
                <br>
            </div>
        </div>
        <button type="button" onclick="Add()">Add</button>
        <br><br><br>
        <label for="location">Pick-up Location</label>
        <input type="text" name="location" required>
        <br><br><br>
        <a href="/"><button type="button">Go Back</button></a>
        <button type="submit">Done</button>
    </form>
    

</body>
</html>