<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Eats</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    	<div class="container">
    		<nav>
    			<a href="#about" class="menu">About Us </a>
    			<a href="#search" class="menu">Find Food </a>
    			<a href="Food Listing/food_listing.html" class="menu">Post a Lising </a>
    			<a href="#maps" class="menu">Check Locations</a>
    		</nav>
    	</div>
    </header>
    <script src="homepage.js"></script>
    <section id="search">
    	<div class="container">
    		<h1 class="title">Welcome to GreenEats!</h1><br>
    		<h2 class="title2">Take a look at the available free food that is nearing its expiration date near you</h2>

    		<input type="text" id="search_bar" onkeyup="myFunction()" name="search_bar" placeholder="Type the name  of the food ...">
    	</div>
    	<!-- Manually made posts as an example (without any registration) -->

	<ul id="myUL">
		<li><a href="#tomatoes">Red Tomatoes</a></li>
		<li><a href="#carrots">Fresh Carrots</a></li>
		<li><a href="#potatoes">Potatoes</a></li>
		<li><a href="#pears">Pears</a></li>
		<li><a href="#bread">Bread</a></li>
		<li><a href="#milk">Milk</a></li>
		<li><a href="#oranges">Oranges</a></li>
		<li><a href="#lettuce">Lettuce</a></li>
		<li><a href="#peaches">Peaches</a></li>
	</ul>

    	<div class="together">
    		<div class="box" id="tomatoes">
    			<div class="image">
    			  <img class="product" src="https://cdn.hswstatic.com/gif/grocery-tomatoes.jpg">
    		    </div>
    			<h3 class="food">Red Tomatoes</h3>
    			<h4>Freshco</h4>
    			<h4>Free</h4>
    			<h5><a href="https://goo.gl/maps/c4bTuWCdsqqdvuLw9" class="loc">Location</h5></a>
    		</div>

    		<div class="box" id="carrots">
    			<div class="image">
    			  <img class="product" src="https://s3.amazonaws.com/secretsaucefiles/photos/images/000/135/875/large/Carrots_Linzie_Geu.jpg?1487776770">
    		    </div>
    		    <h3 class="food">Carrots</h3>
    			<h4>Freshco</h4>
    			<h4>Free</h4>
    			<h5><a href="https://goo.gl/maps/c4bTuWCdsqqdvuLw9" class="loc">Location</h5></a>
    		</div>

    		<div class="box" id="potatoes">
    			<div class="image">
    			  <img class="product" src="https://www.producebusiness.com/wp-content/uploads/2016/12/featured-image-7.jpg">
    		    </div>
    			<h3 class="food">Potatoes</h3>
    			<h4>Zehrs</h4>
    			<h4>$1.00/3 kg</h4>
    			<a href="https://goo.gl/maps/29ABWwuAKAzpmbFx6"><h5>Location</h5></a>
    		</div>

    	</div>
    	<div class="together">

    		<div class="box" id="pears">
    			<div class="image">
    			  <img class="product" src="https://www.producebusiness.com/wp-content/uploads/2019/11/sept-pears-feature.jpg">
    		    </div>
    			<h3 class="food">Pears</h3>
    			<h4>Freshco</h4>
    			<h4>Free</h4>
    			<h5><a href="https://goo.gl/maps/c4bTuWCdsqqdvuLw9" class="loc">Location</h5></a>
    		</div>

    		<div class="box" id="bread">
    			<div class="image">
    			  <img class="product" src="https://static.dw.com/image/19445866_303.jpg">
    		    </div>
    			<h3 class="food">Bread</h3>
    			<h4>Costco</h4>
    			<h4>Free</h4>
    			<h5><a href="https://goo.gl/maps/NBCxfHo2bkSsR8jV7">Location</h5></a>
    		</div>

    		<div class="box" id="milk">
    			<div class="image">
    			  <img class="product" src="https://www.nmpf.org/wp-content/uploads/2020/06/Milk-at-grocery-store-1.jpg">
    		    </div>
    		    <h3 class="food">Milk</h3>
    			<h4>Euro Foods</h4>
    			<h4>Free</h4>
    			<a href="https://goo.gl/maps/6k7NS8QSN7Zx1zzR6"><h5>Location</h5></a>
    		</div>

    	</div>
    	<div class="together">

    		<div class="box" id="oranges">
    			<div class="image">
    			  <img class="product" src="https://i.pinimg.com/originals/f0/46/d8/f046d8b5af4e3ed8222b5bcf7b6fd635.jpg">
    		    </div>
    			<h3 class="food">Oranges</h3>
    			<h4>Costco</h4>
    			<h4>Free</h4>
    			<h5><a href="https://goo.gl/maps/NBCxfHo2bkSsR8jV7">Location</h5></a>
    		</div>

    		<div class="box" id="lettuce">
    			<div class="image">
    			  <img class="product" src="https://s3.amazonaws.com/secretsaucefiles/photos/images/000/115/873/large/Santina-Renzi.jpg?1485402325">
    		    </div>
    			<h3 class="food">Lettuce</h3>
    			<h4>Euro Foods</h4>
    			<h4>Free</h4>
    			<a href="https://goo.gl/maps/6k7NS8QSN7Zx1zzR6"><h5>Location</h5></a>
    		</div>

    		<div class="box" id="peaches">
    			<div class="image">
    			  <img class="product" src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_4:3/k%2Farchive%2F5a0a16fee4d0802de1a37f6d8280a6cc06c6f59f">
    		    </div>
    			<h3 class="food">Peaches</h3>
    			<h4>St. Jacob's Market</h4>
    			<h4>Free</h4>
    			<a href="https://goo.gl/maps/5Hmw1HKGoZ1C8r9o9"><h5>Location</h5></a>
    		</div>
    	</div>
    	<ul>
	</div>
    </section>

    <section id="maps">
    	<h1 class="container">Check Out How To Get Your Food!</h1>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41288302.6806295!2d-130.11358188775674!3d50.83045994806638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2z0JrQsNC90LDQtNCw!5e0!3m2!1sru!2sua!4v1629540162923!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>


    <section id="about">
    	<h1 class="container">Whats is GreenEats?</h1>
<!--     	Please write something here instead of lorem ipsum -->
    	<p class="container" id="paragraph">Morbi nec ligula id enim convallis facilisis. Nulla vitae erat ex. Duis vulputate elementum massa non condimentum. Suspendisse interdum odio eget luctus porta. Nulla ac nunc eros. Integer vel nisi et dolor venenatis auctor. Ut auctor eu turpis ut scelerisque. Nunc libero elit, hendrerit quis scelerisque in, cursus non nunc. Morbi eget nibh in velit hendrerit convallis nec sit amet turpis. Quisque placerat, erat eu placerat mollis, purus velit scelerisque ex, id porttitor felis nunc vitae felis. Aenean in magna purus. Fusce eleifend risus ex, ac elementum diam rutrum eu. Praesent molestie accumsan velit vel fermentum. Nunc iaculis mattis elit, vitae maximus turpis varius non. Phasellus aliquet ut elit at venenatis.</p>
    	<div class="slides">
	    	<h2 class="moving_words">Sustainable.</h2>
	    	<h2 class="moving_words">Efficient.</h2>
	    	<h2 class="moving_words">Ethical.</h2>ss
	    	<h2 class="moving_words">Convenient.</h2>
	    	<h2 class="moving_words">Accessible.</h2>
        </div>
    </section>

    <section id="footer">
    	<div class="container">
    		<nav class="footer">
    			<a href="#about" class="menu">About Us </a>
    			<a href="#search" class="menu">Find Food </a>
    			<a href="FoodListing.html" class="menu">Post a Lising </a>
    			<a href="#maps" class="menu">Check Locations</a>
    		</nav>
    	</div>
    </section>

	<script>
	// Automatic Slideshow - change image every 2 seconds
	var myIndex = 0;
	wordCarousel();

	function wordCarousel() {
	  var i;
	  var x = document.getElementsByClassName("moving_words");
	 for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  myIndex++;
	  if (myIndex > x.length) {myIndex = 1}
	  x[myIndex-1].style.display = "block";
	  setTimeout(wordCarousel, 3000);
	}
	</script>
</body>
</html>